In [77]:
import tensorflow as tf
from tensorflow.keras import layers
import pandas as pd
import numpy as np
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPRegressor

from sklearn.model_selection import KFold

from sklearn.metrics import accuracy_score

In [78]:
dataset_df = pd.read_csv('./dataset/iris_train.csv')

In [79]:
print(dataset_df.shape)
dataset_df.head()

(75, 6)

,id,species,sepal length (cm),petal length (cm),sepal width (cm),petal width (cm)
0,0,setosa,4.4,1.4,2.9,0.2
1,1,versicolor,6.4,4.5,3.2,1.5
2,2,virginica,6.2,4.8,2.8,1.8
3,3,virginica,7.2,6.1,3.6,2.5
4,4,setosa,4.9,1.4,3.0,0.2

In [80]:
dataset_df['species'] = dataset_df['species'].map({'sebtosa':0, 'versicolor': 1, 'virginica': 2})

In [96]:
dataset_df

,id,species,sepal length (cm),petal length (cm),sepal width (cm),petal width (cm)
0,0,0,4.4,1.4,2.9,0.2
1,1,1,6.4,4.5,3.2,1.5
2,2,2,6.2,4.8,2.8,1.8
3,3,2,7.2,6.1,3.6,2.5
4,4,0,4.9,1.4,3.0,0.2
...,...,...,...,...,...,...
70,70,1,6.5,4.6,2.8,1.5
71,71,1,5.6,3.6,2.9,1.3
72,72,1,6.2,4.5,2.2,1.5
73,73,1,4.9,3.3,2.4,1.0
74,74,1,6.9,4.9,3.1,1.5

In [95]:
np.concatenate((dataset_df['species'], dataset_df['sepal length (cm)'], dataset_df['petal length (cm)']), axis=1)

AxisError: axis 1 is out of bounds for array of dimension 1

In [93]:
X = np.concatenate((dataset_df['species'], dataset_df['sepal length (cm)'], dataset_df['petal length (cm)']),axis=1)

AxisError: axis 1 is out of bounds for array of dimension 1

In [94]:
X.shape

(225,)

In [82]:
Y1, Y2 = dataset_df['sepal width (cm)'], dataset_df['petal width (cm)']

In [74]:
X.shape

(75, 3)

In [76]:
Y1.shape

(75,)

In [71]:
kf = KFold(n_splits=5)
kf.get_n_splits(X)

for train_index, test_index in kf.split(X):

    x_train, x_test = X[train_index], X[test_index]
    y1_train, y1_test = Y1[train_index], Y1[test_index]
    
    print(x_train)
    print("----------------")

KeyError: "None of [Int64Index([15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31,\n            32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48,\n            49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65,\n            66, 67, 68, 69, 70, 71, 72, 73, 74],\n           dtype='int64')] are in the [columns]"

In [ ]:
train_df['species'] = train_df['species'].map({'setosa':0, 'versicolor': 1, 'virginica': 2})
test_df['species'] = test_df['species'].map({'setosa':0, 'versicolor': 1, 'virginica': 2})

In [ ]:
train_df.head()

In [ ]:
test_df.head()

In [ ]:
x_train, y1_train, y2_train = train_df.iloc[:,1:4], train_df['sepal width (cm)'], train_df['petal width (cm)']
x_test = test_df.iloc[:,1:4]

In [ ]:
clf1 = MLPRegressor(random_state=1, max_iter=300).fit(x_train, y1_train)
clf2 = MLPRegressor(random_state=1, max_iter=300).fit(x_train, y2_train)

pred1 = clf1.predict(x_test)
pred2 = clf2.predict(x_test)

# print('예측 정확도: %.2f' % accuracy_score(y_test, y_pred))

In [ ]:
submission = pd.read_csv('./dataset/sample_submission.csv')

In [ ]:
submission.head()

In [8]:
result_df = pd.read_csv('./dataset/iris_test.csv')
result_df['species'] = result_df['species'].map({'setosa':0, 'versicolor': 1, 'virginica': 2})
result_df.head()

   id  species  sepal length (cm)  petal length (cm)
0   0        0                5.4                1.7
1   1        0                5.7                1.5
2   2        0                5.3                1.5
3   3        0                5.1                1.9
4   4        2                6.0                4.8